apiVersion: apps/v1
kind: Deployment
metadata:
  name: mock-pagerduty
  labels:
    app: mock-pagerduty
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: mock-pagerduty
  template:
    metadata:
      labels:
        app: mock-pagerduty
    spec:
      containers:
        - name: mock-pagerduty
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
